.my-container
{
    width: 100%;
    height: 100vh;
    padding: 0px 30px;
    background: #6c757d;
}
.player
{
    padding-top: 1vh;
    height: 70vh;
}
.player-list
{  
    height: 25vh;
     position: fixed;
    bottom: 20px;
    right: 30px;
    left: 30px
}
